.section {
  padding: 2rem 1rem;

  &--hero {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: url('//placekitten.com/1920/1080') no-repeat center center;
    background-size: cover;

    text-align: center;
    text-shadow: 1px 1px rgba(#eee, 0.8);
  }
}
