.full-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    flex-grow: 1;
  }
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -1rem;

  @media (max-width: 480px) {
    flex-direction: column;
  }

  &__item {
    flex-grow: 1;
    margin: 1rem;

    &--third {
      flex-basis: calc(100% / 3 - 2rem);
    }
  }
}
