// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$c-black: #888;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'layout';
@import 'components/nav-bar';
@import 'components/section';

.pricing-card  {
  position: relative;
  min-width: 18rem;
  border: 0.1rem solid $c-black;
  background: #fff;
  text-align: center;

  &:hover {
    .pricing-card__header  {
      display: block;
    }
  }

  &__header  {
    display: none;
    position: absolute;
    bottom: 100%;
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid $c-black;
    background: blue;
    color: #eee;
    text-transform: uppercase;
    overflow: auto;

    &--green {
      background: green;
    }

    &--black {
      background: $c-black;
    }

    h1 {
      margin: 0;
      font-size: 3rem;
      font-weight: normal;
    }

    h2 {
      margin: 0;
      font-size: 0.8rem;
      font-weight: normal;
    }

    h3 {
      margin: 0;
      font-size: 0.8rem;
      font-weight: lighter;
    }
  }

  &__btn-container {
    padding: 1rem;
  }
}

.collection {
  margin: 0;
  border-top: 0.1rem solid $c-black;
  border-bottom: 0.1rem solid $c-black;
  background: #fff;

  &__item {
    padding: 0.5rem;
    border-bottom: 0.1rem solid $c-black;

    &:nth-of-type(even) {
      background: rgba(#aaa, 0.2);
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.btn {
  padding: 0.5rem 1rem;
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: 0.1rem solid $c-black;
  border-radius: 1rem;
}


.lower-nav {
  background: red;
}
